body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    padding: 7px 50px;
    width: 300px;
    height: auto;

}
.head-img{
    height: auto;
    width: 100%;

}

h1{
    font-size: 40px;

}

header {
    background-color: #fb8c00;
    height: 100px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

nav {
    float: right;
    padding: 40px 50px 0px 0px;
}

nav a {
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

#about{
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}
#gallery{
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}


.test{
    clear:both;
}



footer {
    background-color: #FF7F50;
    color: white;
    margin-top: 0px;
    padding: 30px 0px;
}