body {
    color: #000000;
    background:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*  header styles   */
header {
    background: #001152;
    position: fixed; /* Used to create sticky menu */
    text-align: left;
    width: 100%;
    z-index: 999; /*Ensure header is always visible on top of all other elements */
}

.logo {
    padding: 10px 0px 10px 50px;
    width: 250px;
}
/*  Navigation styles   */
nav {
    color: white;
    float: right;
    padding: 30px 50px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}


/*Used to style navigation menu items when mouse moved over item*/
nav li a:hover {
    background-color: #001E8F;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
/* Used to style non-thumb images */
.n-thumb{
    width: 70%;
    height: auto;
     box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;


}
/* Background image for websites front page */
#home {
    background: black url(../Assesment-AS91893/img/maunga_club_cabin.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    top: 0px;
}


/* Background colours for sections */
/* Background colour for chalets section */
#chalets {
    background: rgba(160, 180, 255 , 0.12);
}

/* Background colour for contact section */
#contact {
    background: rgba(0,67,31,0.12);
}
/*  Fonts - open sans   */
h1,h2,h3,h4,nav,.button,.contact-button {
    font-family: 'Open Sans', sans-serif;

}
/*  Text shadow gives the text in H1 a shadow   */
h1 {
    font-size: 80px;
        text-shadow: 2px 2px 0px #808080;
}

h2,h3 {
    font-size: 40px;

}

.intro-block {
    background: rgba(0,0,0,0.65);
    margin: 0 auto;
    padding: 15px 35px;
    text-align: center;

}

.intro-wrap {
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: left;
    width:100%;
}

#about,#chalets,#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

 footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

#about,#chalets,#contact {
    min-height: 100mm;
}

.content {
    margin: 0 auto;
    max-width: 1300px;
}

#before-footer {
    background-color: #FF5B00;
    background:none;
    color: white;
}

#k-1,#k-2,#p-1 {
    margin-top: 10px;
}

/*  Shadows for the images    */
.shadow {
     box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

/*  Removes the dots from the list   */
li {
    list-style-type: none;
}


/* Styling for when mouse hovered over one of the chalet names in #about */
.chalet-button:hover {
background-color: #00164C;

    border: 3px solid black;
    border-radius: 25px;
    color: white;
}

/*  Main button styles for chalet   */
.chalet-button {
    background-color: #5577C9;
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px 5px;
    min-width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 25px;
    color: white;
}
/*  Main button styles for contact button   */
.contact-button{
    border: 3px solid black;
    border-radius: 25px;
    color: #5577C9;
    font-weight: bold;
    margin: 30px 5px;
    min-width: 150px;
    padding: 10px 15px;
    text-decoration: none;
}

/* Styling for when mouse hovered over Email button at bottom of page */
.contact-button:hover{
    background-color: #5577C9;
    border: 3px solid black;
    border-radius: 25px;
    color: white;
}

article {
    margin: 0 auto;
    text-align: center;
    width: 90%;

}

section a {
    display: inline-block;
}

footer {
    background-color: #001152;
    color: white;
}


/* Used for single column layout */
.single-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 0 auto;
}
/* Used for two column layout */
.two-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
}

/* Used for three column layout */
.three-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 0 auto;
    margin-bottom: 200px;
}
/*   width of chalet images_thumb  */
.chalets-thumb{
    width: 300px;
}